.chart-container {
	width: 100%;
	display: block;
	height: 100%;
}

.column {
	height: 100%;
	float: left;
}

#col-chart {
	width: 100%;
}

#primary-html-readout {
	display: none;
}

.panel {
	width: calc(100% - 20px);
	height: fit-content;
	background-color: white;
	color: black;
	padding: 10px;
	border-radius: 10px;
	margin: 10px;
	border: 2px solid black;
	box-sizing: border-box;
}

#title-panel {
	font-family: monospace;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
}

.main-navigation {
	height: fit-content;
	position: fixed;
	top: 0;
	right: 0;
	width: 20%;
}

#input-url-panel {
	height: 50px;
	padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#url-entry-field {
	height: 100%;
	width: 100%;
	padding-left: 5px;
	border: none;
	outline: none;
}

#url-submit-button {
	float: right;
	margin-right: 10px;
	background-color: #558B6E;
	border: none;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	font-weight: bold;
}

#url-submit-button:hover {
	background-color: #406346;
}

.readouts {
	height: fit-content;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 20%;
}

#arborist-full-container {
	width: 100%;
}

.site-details {
	margin-bottom: 0px;
	font-family: monospace;
	font-size: .9em;
}

#site-details-name {
	font-style: italic;
}

#site-details-header {
	font-weight: bold;
}

#searching-spinner {
	display: none;
}

.legend {
	width: 25%;
	height: fit-content;
	position: fixed;
	bottom: 0px;
	right: 0px;
	margin: 10px;
}

.legend-item {
	height: fit-content;
	width: fit-content;
	border: none;
	padding: 2px;
	padding-top: 0px;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 10px;
	margin: 2px;
	float: right;
}

.legend-blot {
	height: 1em;
	aspect-ratio: 1/1;
	background-color: black;
	float: right;
	margin-top: 4px;
	margin-left: 5px;
	border-radius: 2px;
	display: none;
}

.legend-text {
	float: right;
	font-size: 12px;
	color: white;
	font-weight: bold;
}

.byline {
	background-color: black;
	color: white;
	width: fit-content;
	padding-right: 15px;
}

