.chart-container {
	width: 100%;
	display: block;
	height: 100%;
}

.column {
	height: 100%;
	float: left;
}

#col-chart {
	width: 100%;
}

#primary-html-readout {
	display: none;
}

.panel {
	width: calc(100% - 20px);
	height: fit-content;
	background-color: white;
	color: black;
	padding: 10px;
	border-radius: 10px;
	margin: 10px;
	border: 2px solid black;
	box-sizing: border-box;
}

#title-panel {
	font-family: monospace;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
}

.main-navigation {
	height: fit-content;
	position: fixed;
	top: 0;
	right: 0;
	width: 20%;
}

